.renderBedroomContainer {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;

  .bedroomText {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .durationText {
    margin-bottom: 3rem;
    font-size: 1.4rem;
  }
  .tempWrapper {
    margin: 2rem 0;
  }
}
