@import "../../styles/variables.scss";

.weeklyAveragesText {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.pickData {
  display: flex;
  flex-direction: row;

  .xAxisData {
    width: 8rem;
    height: 3.5rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: $site-background-color;
  }

  .restingHRBtnActive {
    color: #dc143c;
    border: 2px solid #dc143c;
  }
  .restingHRBtnInactive {
    color: #dc143c;
    border: 0.5px solid #dc143c;
  }

  .maxHRVBtnActive {
    color: #808080;
    border: 2px solid #808080;
  }
  .maxHRVBtnInactive {
    color: #808080;
    border: 0.5px solid #808080;
  }

  .avgTempBtnActive {
    color: #303ead;
    border: 2px solid #303ead;
  }
  .avgTempBtnInactive {
    color: #303ead;
    border: 0.5px solid #303ead;
  }

  .avgHumidityBtnActive {
    color: #33becc;
    border: 2px solid #33becc;
  }
  .avgHumidityBtnInactive {
    color: #33becc;
    border: 0.5px solid #33becc;
  }
}

.weeklyAveragesContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  font-size: 1.4rem;
  font-weight: 200;

  .dateText {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .averagesWrapper {
    margin: 0.3rem;
    display: flex;
    justify-content: space-between;

    .renderedData {
      font-size: 1.6rem;
    }
    .restingHRData {
      color: #dc143c;
    }
    .maxHRVData {
      color: #808080;
    }
    .avgTempData {
      color: #303ead;
    }
    .avgHumidityHRData {
      color: #33becc;
    }
  }
}
