@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap");

$main-width: 1140px;
$font-color: #969696; // rgb(150, 150, 150)
$site-background-color: #0e0e0e; // rgb(14, 14, 14)
$font-family: "Montserrat", sans-serif;
