@import "../../styles/variables.scss";

.navigationContainer {
  position: fixed;
  width: 100vw;
  height: 7rem;
  left: 0;
  bottom: 0;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $site-background-color;
}
