.sidebarContainer {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: -300px;
  background-color: #0e0e0e;
  z-index: 100;
  transition: 0.25s ease-in-out;
}

.active {
  left: 0;
}
