.loadingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bedroomDataMissingText {
    margin-bottom: 20rem;
    font-size: 1.8em;
    font-weight: 500;
  }
}
