@import "../../styles/variables.scss";

.renderSleepDataContainer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;

  // .sleepDateWrapper {
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-end;
  // }

  // .summaryDate {
  //   margin-left: 1rem;
  //   font-size: 2.2rem;
  // }
  // .bedtimeDuration {
  //   margin-top: 1rem;
  // }
}
