.renderSleepDataContainer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;

  .summaryDate {
    margin-top: 1rem;
  }
  .bedtimeDuration {
    margin-top: 1rem;
  }
  .lowestHR {
    margin-top: 1rem;
  }
  .averageHR {
    margin-top: 1rem;
    .averageHRText {
      padding-right: 0.5rem;
    }
  }
}
