.renderSleepDataContainer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;

  .sleepDateWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .summaryDate {
    margin-left: 1rem;
    font-size: 2.2rem;
  }
  .bedtimeDuration {
    margin-top: 1rem;
  }
  .heartRateTextWrapper {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .lowestHRText {
      margin-top: 1rem;

      .lowestHRNum {
        font-size: 2rem;
        color: #33becc;
      }
    }

    .averageHR {
      margin-top: 1rem;
      .averageHRText {
        padding-right: 0.5rem;
      }
      .averageHRNum {
      }
    }
  }
  .hrvTextWrapper {
    @extend .heartRateTextWrapper;
    .averageHRV {
      @extend .lowestHRText;
    }
    .maxHRV {
      @extend .averageHR;
    }
    .maxHRVNum {
      font-size: 2rem;

      color: #dc143c;
    }
  }
}
