@import "../../styles/variables.scss";

.loginContainer {
  height: 100vh;
  padding-top: 5rem;

  .logo {
    width: 150px;
  }
  .formWrapper {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .usernameText {
    font-size: 1.4rem;
    margin-left: 4.8rem;
  }
  .usernameErrorText {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-red;
  }
  .passwordText {
    @extend .usernameText;
  }
  .passwordErrorText {
    @extend .usernameErrorText;
  }
}
