.renderReadinessContainer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;

  .readinessDateWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .readinessText {
  }
  .summaryDate {
    margin-left: 1rem;
    font-size: 2.2rem;
  }
  .scoreWrapper {
    margin: 2rem 0;

    span {
      padding: 0 0.5rem;
    }
  }

  .readinessWrapper {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 1.4rem;
    // background-color: cadetblue;
    p {
      margin-bottom: 1rem;
    }
  }
}
