.renderReadinessContainer {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 200;

  .readinessText {
  }
  .summaryDate {
    margin-top: 1rem;
  }
  .scoreWrapper {
    margin: 1rem 0;

    span {
      padding: 0 0.5rem;
    }
  }
}
